<div class="my-container">
  <div *ngIf="curAct == MyMovieAct.None">
    Loading...
  </div>
  <div *ngIf="curAct == MyMovieAct.Act1">
    <my-log-animated
      [vm]="vm.Act1"
      [hideControls]="true"
      [autoStart]="true"
      [autoStartDelay]="act1StartDelay"
      [frameDelay]="crawLogFrameDelay"
      [nSkipFrameFF]="crawLogNSkipFrameFF"
      [slomoTimeoutMax]="crawLogSlomoTimeoutMax"
      (onAnimationFinished)="act1AnimationFinished()"
    ></my-log-animated>
  </div>
  <div *ngIf="curAct == MyMovieAct.Act2">
    <blah-animate-line
      [vm]="vm.Act2"
      [autoPlay]="true"
      [hideControls]="true"
      (onAnimationFinished)="act2AnimationFinished()"
    ></blah-animate-line>
  </div>
</div>